---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import { Grid, Stack } from "styled-system/jsx";
import { octokit } from "~/content/projects/client";
import { Card } from "./ui/Card";

interface Props {
	project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
const [owner, repoName] = project.data.repo.split("/");
const { data: repository } = await octokit.request(
	"GET /repos/{owner}/{repo}",
	{
		owner,
		repo: repoName,
	},
);

const links = Object.entries(
	Object.assign(
		{
			Homepage: repository.homepage ?? "",
		},
		project.data.links,
	),
)
	.filter(([, value]) => !!value)
	.map(([key, value]) => [key, { href: value, text: value }] as const);

links.unshift([
	"GitHub",
	{ href: `https://github.com/${project.data.repo}`, text: project.data.repo },
]);

const { Content } = await render(project);
---

<h2>{project.data.name}</h2>
<Grid columns={{ base: 1, sm: 2 }}>
  <Card title="Description">
    <Content />
  </Card>
  <Card title="Links">
    <Stack gap="4">
      {
        links.map(([label, { href, text }]) => (
          <div>
            <strong>{label}: </strong>
            <a href={href} target="_blank">
              {text}
            </a>
          </div>
        ))
      }
    </Stack>
  </Card>
</Grid>
<Card title="tags" mt="2">
  {repository.topics?.join(", ")}
</Card>
